@tailwind base;
@tailwind components;
@tailwind utilities;

/* color zinc */
/* px-7 py-5 */
@layer base {
  html {
    color: #000;
    font-family: "Roboto", sans-serif;
    /* font-size: 16px; */
  }
  input,
  textarea,
  select {
    @apply border-primary bg-primary-darker px-2;
  }
  input:focus,
  textarea:focus,
  select:focus {
    @apply border-indigo ring-indigo-dark ring-1;
  }
  input[readonly],
  textarea[readonly],
  select[readonly] {
    @apply bg-primary cursor-not-allowed;
    pointer-events: none;
    user-select: none;
  }
}

:root {
  --color-primary: #e9ecef;
  --color-primary-lighter: #f1f3f5;
  --color-primary-lightest: #f1f3f5;
  --color-primary-darker: #868e96;
  --color-primary-darkest: #495057;

  --color-red: #fa5252;
  --color-red-light: #ff6b6b;
  --color-red-dark: #f03e3e;

  --color-pink: #e64980;
  --color-pink-light: #f06595;
  --color-pink-dark: #d6336c;

  --color-indigo: #4c6ef5;
  --color-indigo-light: #5c7cfa;
  --color-indigo-dark: #4263eb;

  --color-teal: #12b886;
  --color-teal-light: #20c997;
  --color-teal-dark: #0ca678;

  --color-yellow: #fab005;
  --color-yellow-light: #fcc419;
  --color-yellow-dark: #f59f00;

  --color-green: #40c057;
  --color-green-light: #51cf66;
  --color-green-dark: #37b24d;

  --color-lime: #82c91e;
  --color-lime-light: #94d82d;
  --color-lime-dark: #74b816;

  --color-cyan: #15aabf;
  --color-cyan-light: #22b8cf;
  --color-cyan-dark: #1098ad;

  --color-grape: #be4bdb;
  --color-grape-light: #cc5de8;
  --color-grape-dark: #ae3ec9;

  --color-violet: #7950f2;
  --color-violet-light: #845ef7;
  --color-violet-dark: #7048e8;
}

.dark {
  color: #fff;

  --color-primary: #212529;
  --color-primary-lighter: #868e96;
  --color-primary-lightest: #adb5bd;
  --color-primary-darker: #343a40;
  --color-primary-darkest: #495057;

  --color-red: #f03e3e;
  --color-red-light: #fa5252;
  --color-red-dark: #e03131;

  --color-pink: #d6336c;
  --color-pink-light: #e64980;
  --color-pink-dark: #c2255c;

  --color-indigo: #4263eb;
  --color-indigo-light: #4c6ef5;
  --color-indigo-dark: #3b5bdb;

  --color-teal: #0ca678;
  --color-teal-light: #12b886;
  --color-teal-dark: #099268;

  --color-yellow: #f59f00;
  --color-yellow-light: #fab005;
  --color-yellow-dark: #f08c00;

  --color-green: #37b24d;
  --color-green-light: #40c057;
  --color-green-dark: #2f9e44;

  --color-lime: #74b816;
  --color-lime-light: #82c91e;
  --color-lime-dark: #66a80f;

  --color-cyan: #1098ad;
  --color-cyan-light: #15aabf;
  --color-cyan-dark: #0c8599;

  --color-grape: #ae3ec9;
  --color-grape-light: #be4bdb;
  --color-grape-dark: #9c36b5;

  --color-violet: #7048e8;
  --color-violet-light: #7950f2;
  --color-violet-dark: #6741d9;
}
