@tailwind base;
@tailwind components;
@tailwind utilities;

/* color zinc */
/* px-7 py-5 */
@layer base {
  html {
    color: #000;
    font-family: "Roboto", sans-serif;
    /* font-size: 16px; */
  }
  input,
  textarea,
  select {
    @apply border-primary bg-primary-darker px-2;
  }
  input:focus,
  textarea:focus,
  select:focus {
    @apply border-indigo ring-indigo-dark ring-1;
  }
  input[readonly],
  textarea[readonly],
  select[readonly] {
    @apply cursor-not-allowed border-zinc-600 bg-zinc-600 text-zinc-100;
    pointer-events: none;
    user-select: none;
  }
}

:root {
  --color-primary: #f8f8f8;
  --color-primary-lighter: #fdfcfc;
  --color-primary-lightest: #fff;
  --color-primary-darker: #a2a2b1;
  --color-primary-darkest: #9696a3;

  --color-red: #fa5252;
  --color-red-light: #ff6b6b;
  --color-red-dark: #f03e3e;

  --color-pink: #e64980;
  --color-pink-light: #f06595;
  --color-pink-dark: #d6336c;

  --color-indigo: #4c6ef5;
  --color-indigo-light: #5c7cfa;
  --color-indigo-dark: #4263eb;

  --color-teal: #12b886;
  --color-teal-light: #20c997;
  --color-teal-dark: #0ca678;

  --color-yellow: #fab005;
  --color-yellow-light: #fcc419;
  --color-yellow-dark: #f59f00;
}

.dark {
  color: #fff;

  --color-primary: #676770;
  --color-primary-lighter: #787881;
  --color-primary-lightest: #959597;
  --color-primary-darker: #54545e;
  --color-primary-darkest: #3a3a41;

  --color-red: #f03e3e;
  --color-red-light: #fa5252;
  --color-red-dark: #e03131;

  --color-pink: #d6336c;
  --color-pink-light: #e64980;
  --color-pink-dark: #c2255c;

  --color-indigo: #4263eb;
  --color-indigo-light: #4c6ef5;
  --color-indigo-dark: #3b5bdb;

  --color-teal: #0ca678;
  --color-teal-light: #12b886;
  --color-teal-dark: #099268;

  --color-yellow: #f59f00;
  --color-yellow-light: #fab005;
  --color-yellow-dark: #f08c00;
}
