@tailwind base;
@tailwind components;
@tailwind utilities;

/* color zinc */

@layer base {
  html {
    color: #e4e4e7;
    font-family: "Roboto", sans-serif;
  }
  input,
  textarea,
  select {
    @apply border-zinc-500 bg-zinc-700 px-2 text-zinc-200;
  }
  input:focus,
  textarea:focus,
  select:focus {
    @apply border-blue-500 ring-1 ring-blue-500;
  }
  input[readonly],
  textarea[readonly],
  select[readonly] {
    @apply cursor-not-allowed border-zinc-600 bg-zinc-600 text-zinc-100;
    pointer-events: none;
    user-select: none;
  }
}

:root {
  --color-brand-100: #fafafa;
  --color-brand-200: #e4e4e7;
  --color-brand-300: #d4d4d8;
  --color-brand-400: #a1a1aa;
  --color-brand-500: #71717a;
  --color-brand-600: #52525b;
  --color-brand-700: #3f3f46;
  --color-brand-800: #27272a;
}
